body {
    font-family: "Segoe UI", San-serif;
}

* {
    margin: 0;
    padding: 0;
}


fieldset {
    border: none;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
}

    fieldset legend {
        color: #ffffff;
        font-weight: 700;
    }

form {
    background-image: url("resources/formBackground.jpg");
    display: inline-block;
    border-radius: 5px;
    padding: 20px;
}

    form div {
        background-color: rgba(128,162,195, 0.7);
        border: solid 1px #C4D6E7;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 3px;
    }

        form div label {
            display: inline-block;
            width: 150px;
            margin-left: 6px;
        }

        form div input, form div textarea {
            width: 200px;
            height: 20px;
            background-color: rgba(255,255,255, 0.8);
            border: none;
            border-radius: 2px;
            padding: 5px;
            margin-right: 130px;
           
        }

textarea {
     margin-bottom: 7px;
}

fieldset fieldset {
    color: #000000;
    font-weight: normal;
}

    fieldset fieldset legend {
        color: #000000;
        font-weight: normal;
    }

.radio-label {
    margin: 0;
    display: inline;
    padding: 15px 50px 0 5px;
    vertical-align: 3px;

}

#visa, #amex, #master {
    width: 13px;
    background-color: rgba(255,255,255, 0.8);
    border: none;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 13px;
}

form div textarea {
    height: 100px;
    vertical-align: top;
}

    form div input:focus, form div textarea:focus {
        background-color: rgba(255,255,255, 1);
    }

img {
    width: 25px;
    margin-right: 2px;
}

input[type=submit] {
    background: #04152F;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 30px;
    border: none;
}

.button {
    display: block;
    text-align: center;
}
